{% extends 'base.html' %}

{% block title %}
Update
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Update</h1>
    <form method="post">
        <input type="text" name="name" id="name" class="form-control" value="{{ article.name }}" placeholder="Name"><br>
        <input type="text" name="surname" id="surname" class="form-control" value="{{ article.surname }}" placeholder="Surname"><br>
        <textarea name="profile" id="profile" class="form-control" value="{{ article.profile }}" placeholder="Profile"></textarea><br>
        <input type="text" name="status" id="status" class="form-control" value="{{ article.status }}" placeholder="Status"><br>
        <input type="submit" name="title" id="title" class="btn btn-success" value="Update">
    </form>
</div>

{% endblock %}